<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .indent {
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 20px;
        }
    </style>
    <title>Информация о сотруднике</title>
</head>
<body>
<div th:replace="general :: page-header"> </div>

<div class="indent">
    <div id="EmployeeInfo">
        <h4 th:text="${employee.getName()}"></h4>
        <p th:if="${employee.getName() != null}" th:text="'Имя: ' + ${employee.getName()}"></p>
        <p th:if="${employee.getBirthDay() != null}" th:text="'Дата рождения: ' + ${employee.getBirthDay()}"></p>
        <h4 th:text="${employee.getBirthDay()}"></h4>
    </div>
</div>
<h4>Должности сотрудника:</h4>
<table>
    <thead>
    <tr>
        <th>Подразделение</th>
        <th>Должность</th>
        <th>Hire Date</th>
        <th>Retire Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="epd : ${epds}">
        <td th:text="${epd.getPostDivision().getDivision().getName()}"></td>
        <td th:text="${epd.getPostDivision().getPost().getName()}"></td>
        <td th:text="${epd.getHireDate()}"></td>
        <td th:text="${epd.getRetireDate()}"></td>
    </tr>
    </tbody>
</table>
<div class="indent mt-4">
    <form th:action="@{/employee/delete}" method="post">
        <input type="hidden" name="employeeId" th:value="${employee.getId()}"/>
        <button type="submit" class="btn btn-danger"
                onclick="return confirm('Вы уверены, что хотите удалить сотрудника?');">
            🗑 Удалить профиль
        </button>
    </form>
</div>

<div th:replace="general :: site-footer"></div>
<div th:replace="general :: site-script"></div>

</body>
</html>